.font-amiri {
  font-family: 'Amiri', serif;
}
.ham_wasl {
  color: #0000FF;
}

.ghn {
  color: #FF7E1E;
}

.inn {
  color: #DD0008;
}

.iql {
  color: #DD0008;
}

.ikhf {
  color: #35BA00;
}

.qlq {
  color: #DD0008;
}

.madda_normal {
  color: #FF7E1E;
}

.madda_permissible {
  color: #FF7E1E;
}

.madda_necessary {
  color: #FF7E1E;
}

.idt {
  color: #0000FF;
}

.idg {
  color: #FF7E1E;
}

.slnt {
  color: #35BA00;
}

@import "tailwindcss";
